[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ieatacid
[access "refs/for/refs/*"]
	read = group user/ieatacid
	push = group user/ieatacid
	label-Code-Review = -2..+2 group user/ieatacid
	label-Verified = -1..+1 group user/ieatacid
	rebase = group user/ieatacid
	removeReviewer = group user/ieatacid
	submit = group user/ieatacid
[access "refs/heads/*"]
	read = group user/ieatacid
	create = group user/ieatacid
	push = +force group user/ieatacid
	pushMerge = group user/ieatacid
[access "refs/tags/*"]
	push = +force group user/ieatacid
	pushTag = group user/ieatacid
	pushSignedTag = group user/ieatacid
